.banerss{
width: 100%;
height: 50vh;
display: flex;
align-items: center;
justify-content: center;
background-image: url("../assets/dairy.png");
background-size: cover;
background-position: center;
margin-top: 5%;
}
.red{
    color: red;
}
.remove{
    color: white;
}
.fo{
    margin-top: 40%;
}
@media (max-width:720px) {
    .banerss{
        width: 100%;
    }
}