.banerss{
width: 100%;
height: 50vh;
display: flex;
align-items: center;
justify-content: center;
background-image: url("../assets/dairy.png");
background-size: cover;
background-position: center;
margin-top: 5%;
}
.fo{
    margin-top: 10%;
}