.banner{
width: 100%;
height: 50vh;
display: flex;
align-items: center;
justify-content: center;
background-image: url("../assets/seafood-banner.jpg");
background-size: cover;
background-position: center;
}
.fo{
    margin-top: 10%;
}
@media (max-width:720px) {
    .d{
        margin-top: 200px;
    }
}